.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 5;
}

.modal-content {
  margin: auto;
  position: relative;
  width: 80%;
  height: auto;
  background: var(--secondary-color);
  padding: 15px;
  border: solid 1px var(--action-color);

  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
  overflow-x: hidden;
}

.modal-content-children {
  margin-top: 50px;
}

.close-button {
  position: absolute;
  z-index: 6;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: var(--secondary-color);
}
