.edit-modal-header {
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50px;
  color: var(--secondary-color);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.addItemForm {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.addItemForm label {
  margin-bottom: 5px;
  color: var(--primary-color);
  font-size: 15px;
}

.addItemForm input,
.addItemForm textarea,
.addItemForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background-color: var(--action-color);
}

.addItemForm input:focus,
.addItemForm textarea:focus,
.addItemForm select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.addItemForm textarea {
  resize: vertical;
  height: 350px;
}

.addItemForm select {
  appearance: none;

  padding: 8px;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: normal;
  color: var(--primary-color);
  text-transform: capitalize;

  position: relative;
}

.addItemForm option {
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}

.addItemForm button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: normal;
  transition: background-color 0.3s ease-in-out;
}

.addItemForm button:hover {
  background-color: var(--action-color);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}

@media screen and (max-width: 600px) {
  .addItemForm textarea {
    resize: vertical;
    height: 120px;
  }
  .addItemForm label {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .addItemForm select {
    padding: 8px;
    font-size: 12px;
  }
  .addItemForm button {
    padding: 8px;
    font-size: 12px;
  }

  .addItemForm input,
  .addItemForm textarea,
  .addItemForm select {
    padding: 8px;
    font-size: 12px;
  }
}
