.edit-modal-header {
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50px;
  color: var(--secondary-color);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.addItemForm {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.addItemForm .input-box,
.addItemForm .date-box,
.addItemForm select,
.addItemForm button {
  flex: 1;
}

.input-box span,
.textarea-box span {
  visibility: hidden;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span,
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span {
  visibility: visible;
}

.addItemForm input,
.addItemForm textarea,
.addItemForm select {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: var(--action-color);
}

.addItemForm input:focus,
.addItemForm textarea:focus,
.addItemForm select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.addItemForm textarea {
  resize: none;
  height: 150px;
}

.addItemForm select {
  appearance: none;
  padding: 8px;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: normal;
  color: var(--primary-color);
  text-transform: capitalize;

  position: relative;
}

.addItemForm option {
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}

.addItemForm button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: normal;
  transition: background-color 0.3s ease-in-out;
}

.addItemForm button:hover {
  background-color: var(--action-color);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}

@media (width>=1024px) {
  .addItemForm {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .addItemForm .input-box {
    flex: 0 0 100%;
  }
  .addItemForm .date-box,
  .addItemForm .state-box {
    flex: 0 0 calc(50% - 0.5rem);
    margin: auto;
  }

  .addItemForm button {
    flex: 0 0 50%;
    margin: auto;
  }
}
