.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-size: 20px;
}

.task-header {
  background-color: var(--primary-color);
  padding: 15px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  border-radius: 20px;
}

.task-header div {
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .task-container {
    font-size: 10px;
    letter-spacing: 0.5px;
  }
  .task-header {
    padding: 5px;
    grid-template-columns: repeat(4, minmax(75px, 1fr));

    border-radius: 5px;
  }
}
